<div class="toolbar" role="banner">
  <!-- <img width="40" alt="Angular Logo" src="assets/wildboys.jpg" style="border-radius: 50%;" /> -->
  <a class="mx-3" aria-label="Telegram Logo" target="_blank" rel="noopener" href="https://t.me/+y0FLS16JJH03OGRk"
    title="Telegram">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
      width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
      <path d="M128 0C57.307 0 0 57.307 0 128s57.307 128 128 128s128-57.307 128-128S198.693 0 128 0z" fill="#40B3E0" />
      <path
        d="M190.283 73.63L167.42 188.899s-3.197 7.994-11.99 4.157l-52.758-40.448l-19.184-9.272l-32.294-10.872s-4.956-1.758-5.436-5.595c-.48-3.837 5.596-5.915 5.596-5.915l128.376-50.36s10.552-4.636 10.552 3.038"
        fill="#FFF" />
      <path
        d="M98.618 187.603s-1.54-.144-3.46-6.22c-1.917-6.075-11.67-38.049-11.67-38.049l77.538-49.24s4.477-2.718 4.317 0c0 0 .799.48-1.6 2.718c-2.397 2.239-60.91 54.836-60.91 54.836"
        fill="#D2E5F1" />
      <path d="M122.901 168.115l-20.867 19.026s-1.632 1.238-3.416.462l3.996-35.34" fill="#B5CFE4" />
    </svg>
  </a>
  <span>Sniper Bot</span>
  <div class="spacer"></div>
  <div class="d-flex mr-2 border p-2 rounded">
    <span class="mr-2" [ngClass]="{'green-bullet': usersOnline > 0}">⚫</span> {{usersOnline}} ONLINE
  </div>

  <span class="mr-3 ml-2 border p-2 rounded">
    SESSION ID: <strong> {{ this.sniperForm.get('socketId')?.value || 'not connected'}} </strong>
  </span> 

</div>

<div class="content" role="main">

  <form class="row w-100 justify-content-between">

    <div class="col-12 col-lg-5 card p-3">
      <div class="row" [formGroup]="sniperForm">

        <div class="btn-group col-12 mb-3" role="group" aria-label="bot functionality">
          <button type="button" class="btn btn-success" [ngClass]="{'active': botFunctionality === 1}"
            (click)="botFunctionality = 1">Fast
            Buy</button>
          <button type="button" class="btn btn-success" [ngClass]="{'active': botFunctionality === 2}"
            (click)="botFunctionality = 2">Fast
            Sell</button>
          <button type="button" class="btn btn-success" [ngClass]="{'active': botFunctionality === 3}"
            (click)="botFunctionality = 3">Sniper</button>
        </div>

        <div class="form-group col-12">
          <label for="privateKey">Sniper Wallet Private Key</label>
          <input type="password" autocomplete="off" class="form-control" id="privateKey" aria-describedby="privateKey"
            placeholder="Insert sniper wallet private key.." formControlName="privateKey" required>
          <small id="privateKey" class="form-text text-muted">* Don't Share Private Key With Anyone</small>
        </div>

        <div class="form-group col-12">
          <label for="recipient">RPC</label>
          <input type="text" class="form-control" id="rpc" aria-describedby="rpc" placeholder="Insert RPC .."
            formControlName="rpc" required>
        </div>

        <!--         <div class="form-group col-12">
          <label for="recipient">Recipient</label>
          <input type="text" class="form-control" id="recipient" aria-describedby="recipient"
            placeholder="Insert recipient address .." formControlName="recipient" required>
        </div>  -->

        <div class="form-group col-6">
          <label for="amountToBuy">Amount To Buy ( BNB )</label>
          <input type="text" class="form-control" formControlName="amountToBuy" id="amountToBuy"
            aria-describedby="amountToBuy" placeholder="Insert amount to buy ( eg. 0.1 )" required>
        </div>
        <div class="form-group col-6">
          <label for="amountOutMin">Amount Out Min</label>
          <input type="number" class="form-control" id="amountOutMin" aria-describedby="amountOutMin"
            placeholder="Insert amount out min ( eg. 1000 )" formControlName="amountOutMin" required>
        </div>

        <div class="form-group col-4">
          <label for="decimals">Decimals</label>
          <input type="number" formControlName="decimals" class="form-control" id="decimals" aria-describedby="decimals"
            placeholder="18" required>
        </div>


        <div class="form-group col-4">
          <label for="gasLimit">gasLimit</label>
          <input type="number" formControlName="gasLimit" class="form-control" id="gasLimit" aria-describedby="gasLimit"
            placeholder="450000" required>
        </div>
        <div class="form-group col-4">
          <label for="gasPrice">Gas Price</label>
          <input type="number" formControlName="gasPrice" class="form-control" id="gasPrice" aria-describedby="gasPrice"
            placeholder="15" required>
        </div>

        <div class="form-group col-12">
          <label for="token">Token To Buy</label>
          <!-- <label for="token">Token To Sell</label> -->
          <input type="text" class="form-control" formControlName="token" id="token" aria-describedby="token"
            placeholder="Insert token to buy / sell address .." required>
        </div>

        <div class="col-12 text-center">
          <button *ngIf="!botRunning" type="submit" class="btn btn-primary w-50 " (click)="startBot()">

            <ng-container [ngSwitch]="botFunctionality">
              <span *ngSwitchCase="1">START FAST BUY</span>
              <span *ngSwitchCase="2">START FAST SELL</span>
              <span *ngSwitchCase="3">START SNIPER</span>

              <span *ngSwitchDefault>SELECT A FUNCTIONALITY FIRST</span>
            </ng-container>

          </button>
          <button *ngIf="botRunning" type="submit" class="btn btn-secondary w-50 " (click)="terminateBot()">STOP
            BOT</button>
        </div>
      </div>

    </div>

    <!-- Terminal -->
    <div class="col-12 col-lg-6 terminal">
      <div id="terminal-content" style="overflow: auto; height: 100%;">
        <pre *ngFor="let log of logs" [innerHtml]="log"></pre>
      </div>
    </div>

  </form>

  <!-- Footer -->
  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>

</div>

<footer>
  Made with
  <svg style="margin: 0 6px; color: red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
    <path
      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35z"
      fill="currentColor" />
  </svg>
  by <strong style="margin-left: 5px;">Yugen</strong>
</footer>